v\: * {
    /* VML stuff */
    behavior:url(#default#VML); /* FIXME Property 'behavior' doesn't exist */
    position:absolute
}

[draggable=true] {
    -webkit-user-drag: element;
    -webkit-user-select: none;
}

a {
    outline: none;
}

html {
    height: 100%;
}

body {
    background: #ffffff;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
    cursor: default;
    margin: 0;
    padding: 0;
    height: 100%;
}

.top {
    background: white;
}

td.menu {
    background: #212529;
    height: 100%;
    box-shadow: 0px 0px 2px #2c30345c;
}

#startup {
    margin: 4em 0 0 150px;
}
#startup h1 {
    margin: 0;
    font-size: 18px;
    font-weight: normal;
}
#startup img {
    margin: 0 0 0 1em;
}

#login {
    margin: 2em 1em 1em 10em;
}
#login h1 {
    font-weight: normal;
    font-size: 18px;
    margin-left: 1em;
}
#login table {
    margin: 2em 0 0 0;
}
#login table td {
    padding: 0 4px 0 0;
}
#login table td.label {
    text-align: right;
}
#login table td.toolbar {
    padding: 0 0 0 1em;
    vertical-align: top;
}
#login ul.toolbar {
    margin: 0;
}

#login input {
    border: 1px solid #888;
    margin: 2px 2px;
    padding: 1px;
    width: 10em;
}

#logo {
    font-size: 26px;
    color: #444444;
    padding: 12px;
    padding-left: 25px;
    box-shadow: 0px 2px 0px #2c30345c;
    width: 100%;
}

#logo #version {
    font-size: 12px;
}

#top {
    display: block;
    position: relative;
    left: -4px;
    margin: 3px 0 0 4px;
    white-space: nowrap;
}

#menu {
    margin: 0 0 0 -1px;
    padding: 0;
    display: block;
    height: 100%;
}
#menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#menu li {
    list-style: none;
}
#menu li.group a:after {
    content: url("right-arrow.png");
    float: right;
}
#menu li.activegroup a:after {
    content: url("down-arrow.png");
    float: right;
}
#menu li.sep {
    height: 4px;
}
#menu ul.group {
    display: none;
}
#menu a {
    display: block;
    border: 1px solid #2c3034;
    background: #212529;
    text-decoration: none;
    color: white;
    margin: -2px 0 0 0;
    padding: 10px 18px;
    cursor: pointer;
    width: 179px;

    transition: backgound 0.1s linear, box-shadow 0.3s linear;
}
#menu a.opened {
    background: #373778;
}
#menu a.active {
    background: #ccc;
    box-shadow: 1px 1px 1px #aaa inset;
}
#menu a.active:hover {
    background: #ccc;
}
#menu a.active:active {
    background: #ccc;
}
#menu a:hover {
    background: #5759c0;
}
#menu a.opened:hover {
     background: #5759c0;
}
#menu a:active {
    background: #aaa;
    box-shadow: 1px 1px 2px #888 inset;
}
#menu ul.activegroup {
    box-shadow: 1px 0 3px #000 inset;
}
#menu ul.activegroup li a {
    background-color: #3a404657;
    border: 1px solid #3a404682;
    margin: -1px 0;
}
#menu ul.activegroup li a.opened {
    background: #373778;
}
#menu ul.activegroup li a:hover {
    background: #5759c0;
}
#menu ul.activegroup li a.opened:hover {
    background: #5759c0;
}
#menu ul.activegroup li a:active {
    background: #aaa;
    box-shadow: 1px 1px 2px #888 inset;
}
#menu input {
    font-size: 11px;
    font-family: verdana, arial, helvetica, sans-serif;
    border: 0;
    margin: 0;
    padding: 0;
    width: 80px;
    background: #ddd;
    background: transparent;
}
#menu input:focus {
    border: 1px solid #888;
}
#menu a:active input {
    background: #aaa;
    background: transparent;
}
#menu a:hover input {
    background: #eee;
    background: transparent;
}
#menu ul.activegroup input {
    background: #ccc;
    background: transparent;
}
#menu ul.activegroup a:hover input {
    background: #ddd;
    background: transparent;
}

td.menubar {
    background: #ddd;
}
#menubar {
}
#menubar ul {
    list-style: none;
    display: flex;
    float: right;
    width: max-content;
    margin-top: 0 !important;
}
#menubar li {
    display: table;
    list-style: none;
    height: 3.45rem;
}
#menubar a {
    text-decoration: none;
    color: #444444;
    margin: 0 0 0 -1px;
    padding: 5px 24px;
    cursor: pointer;
    border-left: 1px solid #cccccc;

    transition: background 0.2s linear, box-shadow 0.3s linear;
    vertical-align: middle;
    display: table-cell;
    font-weight: bold;
}
#menubar a.icon {
    padding: 5px 7px 5px 10px;
}
#menubar a.opened {

}
#menubar a.active {
    background: #ccc;
    box-shadow: 1px 1px 1px #aaa inset;
}
#menubar a.active:hover {
    background: #fff;
}
#menubar a.active:active {
    background: #ccc;
}
#menubar a:hover {
    background: #ffffff42;
}
#menubar a.opened:hover {
}
#menubar a:active {
    background: #ccc;
    box-shadow: 1px 1px 2px #888 inset;
}
#menubar {
}
#menubar input {
    background: transparent;
}

#title {
    font-family: verdana, arial, helvetica, sans-serif;
    float: right;
    color: #444;
    font-size: 14px;
    margin: 5px -6px 1px 12px;
    padding: 0px 20px;
}
#title input {
    font-family: verdana, arial, helvetica, sans-serif;
    background-color: #ccc;
    font-weight: bold;
    font-size: 14px;
    border: 0;
    margin: 0;
    padding: 0;
    width: 20em;
    text-align: right;
}

#tabs ul {
    font-size: 11px;
    text-align: left;
    list-style: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
#tabs .prefix {
    float: left;
    background: none;
    padding-left: 24px;
}
#tabs li {
    float: left;
    margin: 0;
    padding: 0;
}
#tabs a {
    float: left;
    margin: 6px 5px 0 0;
    padding: 8px 8px 8px 8px;
    background-color: #f3f3f3;
    border: 1px solid #cccccc;
    border-bottom: none;
    border-radius: 3px 3px 0 0;
    color: #000;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;

    transition: background 0.2s linear;
}
#tabs a:hover {
    background: #fff;
}
#tabs a:active {
    background: #ccc;
    box-shadow: 1px 1px 2px #aaa inset;
}
#tabs a.active {
    margin-top: 5px;
    background: white;
    box-shadow:
        1px 1px 2px #fff inset,
	0 1px 20px 0 rgba(240,240,240,0.2) inset,
	0 2px #ffffff;
    border-top: 2px solid #629ff9;
}
#tabs a.active:active {
}
#tabs a.active:hover {
}
#tabs input {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 11px;
    border: 0;
    margin: 0;
    padding: 0;
    width: 10em;
}
#tabs a input {
    background: #e8e8e8;
    background: transparent;
}
#tabs a:hover input {
    background: #f8f8f8;
    background: transparent;
}
#tabs a.active input {
    background: #fff;
    background: transparent;
}
#tabs a.active:hover input {
    background: #fff;
    background: transparent;
}
#tabend {
    clear: left;
}

#right {
    width: 100%;
    position: absolute;
    z-index: 2;
}

#rtable {
    width: 100%;
}

#content {
    margin: 0;
    padding: 16px 8px 8px 8px;
    border-top: 1px solid #cccccc;
}

ul.toolbar {
    font-size: 12px;
    text-align: left;
    list-style-type: none;
    padding: 0;
    margin: 2px 0 4px 2px;
}
.top ul.toolbar {
    margin-left: 8px;
}
ul.toolbar li {
    float: left;
    vertical-align: middle;
}
ul.toolbar li.hidden {
    display: none;
}
ul.toolbar li.sep {
    padding: 1px 10px 0 0;
}
ul.toolbar li.custom {
    padding: 0;
}
.top ul.toolbar li.custom {
    margin: 2px 4px 0 0;
}
ul.toolbar li.postfix {
    background: none;
    float: none;
    clear: left;
    display: block;
    padding: 4px 8px 4px 0;
    margin: 0 2em 0 0;
}
ul.toolbar li.ending {
    background: none;
    float: none;
    clear: left;
    padding: 0;
    margin: 0;
}
ul.toolbar a {
    float: none;
    display: block;
    margin: 0px -14px 4px 20px;
    padding: 10px 10px;

    border: 1.5px solid #0d6efd;
    border-radius: 3px;
     /* shadow */
    color: #0d6efd;

    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    min-width: 4em;

    transition: background 0.2s linear, box-shadow 0.2s ease-out;
}
ul.toolbar a.disabled {
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    color: #888;
}
ul.toolbar a:hover {
    background: #eee;
}
ul.toolbar a.disabled:hover {
    background: #ddd;
}
ul.toolbar a.pressed {
    background: #bbb;
    box-shadow: 1px 1px #aaa inset;
}
ul.toolbar a.pressed:hover {
}
ul.toolbar a:active {
    background: #aaa;
    box-shadow: 1px 1px 2px #999 inset;
}
ul.toolbar a.disabled:active {
    background: #ddd;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}
ul.toolbar a:focus {
    text-decoration: strikeout; /* FIXME  text-decoration strikeout is not a text-decoration value */
}
ul.toolbar a span {
}
ul.toolbar li.custom:active {
    background: none;
}
ul.toolbar li.sep:active {
    background: none;
}
ul.toolbar .checkbox {
    margin: 0 0 0 1em;
}
ul.toolbar a input {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 11px;
    border: 0;
    margin: 0 1em 0 0;
    padding: 0;
    background: #e8e8e8;
    background: transparent;
    width: 10em;
}
ul.toolbar li.custom {
    vertical-align: middle;
}
ul.toolbar .filter {
    float: right;
    margin-top: 1px;
}

ul.popup {
    font-size: 11px;
    text-align: left;
    list-style-type: none;
    padding: 0;
    margin: 0;
    background: white;
    border: 1px solid #ccc;
    position: absolute;
    z-index: 100;
    border-radius: 5px;
}
ul.popup li {
    float: none;
    display: block;
    margin: 0;
    padding: 0;
    background: none;
}
ul.popup a {
    display: block;
    background: none;
    padding: 2px 4px;
    margin: 0;
    color: #000;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;

    user-select: none;
    -webkit-user-select: none; /* Safari */
}
ul.popup a:hover {
    background: #ccc;
}
ul.popup a:active {
    background: #aaa;
}

a.tbtn {
    display: inline-flex;
    border: solid 1px #d0d0d0;
    padding: 1px 5px 0px 5px;
    margin: 0px 6px 0px -2px;
    font-size: 15px;
    text-decoration: none;
    color: #a8b1bf;
    background: #ffffff;
    cursor: pointer;
    font-weight: bold;
    border-radius: 3px;
    justify-content: center;
    font-family: 'Courier New', monospace;
}
a.tbtn:hover {
    background: #F0F0F0;
}
a.tbtn:active {
    background: #F0F0F0;
    border: 1px inset #000000;
}

a.sbtn {
    border: 1px solid #f0f0f0;
    padding: 2px 3px 2px 3px;
    margin: 2px 0 2px 4px;
    font-size: 13px;
    text-decoration: none;
    color: #000000;
    cursor: inherit;
    white-space: nowrap;
}
a.sbtn_disabled {
    border: 1px solid #f0f0f0;
    padding: 2px 4px 2px 3px;
    margin: 2px 0 2px 4px;
    font-size: 13px;
    text-decoration: none;
    color: #000000;
    white-space: nowrap;
}
a.sbtn:hover {
    border: 1px solid #888;
    background: #ddd;
    border-radius: 3px;

    box-shadow:
        1px 1px 2px rgba(255,255,255,0.8) inset,
	1px 1px 2px rgba(0,0,0,0.2); /* shadow */
}
a.sbtn:active {
    background: #aaa;
    box-shadow: 1px 1px 2px #999 inset;
}

.buttons {
    width: 100px;
    float: right;
    padding: 2px 4px;
}

.buttons a {
    display: block;
    text-align: center;
    margin-bottom: 3px;
}

.table {
    position: absolute;
    z-index: 1;
    table-layout: fixed;
    width: 100%;
    border: 1px solid #ccc;
    background: #fff;
    box-shadow: -1px 1px 2px rgba(0,0,0,0.2);

    /* in iframe we don't have set correct fonts, set them now */
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 12px;
    border-radius: 10px;
    overflow: hidden;
    margin-left: 20px;
}
.table td  {
    text-align: left;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    empty-cells: show;
    padding: 8px;
}
.table .droptarget td {
    padding: 4px 4px 3px 4px;
    border-bottom: 2px solid #000;
}
.table .droptarget .comment td {
    padding: 4px;
    border-bottom: 1px solid #ccc;
}
table .about td {
    color: red;
}
.table td:first-child {
    border-left: none;
}
.table th {
    text-align: left;
    font-weight: bold;
    border-bottom: 2px solid #ccc;
    padding: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    background: #ebebeb;
}
.table th:first-child {
    border-left: none;
}
.table th.pressed {
    background: #aaa;
    box-shadow: 1px 1px 2px #888 inset;
}
.table th.sort-ascend span:before {
    content: url("ascend.png");
    padding-right: 4px;
}
.table th.sort-descend span:before {
    content: url("descend.png");
    padding-right: 4px;
}
.table .droptarget th {
    padding: 4px 4px 3px 4px;
    border-bottom: 2px solid #000;
}
.table tbody.invalid {
    color: #f00;
}
.table tbody.disabled {
    color: #888;
    font-style: italic;
}
.table tbody.selected {
    background: #9dc0ea;
    color: #000;
}

#statusbar {
    position: absolute;
    z-index: 3;
    padding: 10px 34px;
}

#statusbar td {
    padding: 3px 8px;
    background: #cccccc;
    border-radius: 5px;
    overflow: hidden;
}
#statusbar td.disabled {
    color: #c0c0c0;
}
#statusbar td.about {
    color: red;
}

.list {
    width: 100%;
}
.list td {
    padding: 2px 0 2px 0;
    margin: 0;
}
.list td.ctrl {
    min-width: 30px;
    font-size: 8px;
    border-top: 1px solid #ddd;
}
.list td.label {
    text-align: right;
    font-weight: bold;
    padding: 7px 1em;
    vertical-align: middle;
    white-space: nowrap;
    height: 20px;
    text-shadow: #fff 1px 1px;
    border-top: 1px solid #ddd;
    width: 100px;
}
.list td.label input {
    font-family: verdana, arial, helvetica, sans-serif;
    font-weight: bold;
    font-size: 11px;
    border: 0;
    margin: 0;
    padding: 2px;
    text-align: right;
    background: #f0f0f0;
    width: 15em;
    box-shadow: none;
}
.list td.label input:focus {
    border: 1px solid #888;
}
.list tbody.group td.label {
}
.list td.extra {
    width: 26px;
    border-top: 1px solid #ddd;
}
.list td.value {
    border-top: 1px solid #ddd;
}
.list td.tvalue {
    min-width: 10em;
    border-top: 1px solid #ddd;
    padding-right: 10px;
}
.list td.sep {
    padding: 0;
}
.list td.flabel {
    background: #f0f0f0;
    font-style: italic;
    text-align: right;
    padding: 4px 1em 4px 1em;
    vertical-align: middle;
    white-space: nowrap;
    height: 20px;
    border-top: 1px solid #ddd;
}
.list td.fextra {
    min-width: 26px;
    border-top: 1px solid #fff;
}
.list td.fvalue {
    width: 100%;
    border-top: 1px solid #fff;
}
.list h2 {
    text-align: right;
    font-weight: normal;
    font-size: 16px;
    padding: 12px 4px 2px 6px;
    margin: 0 0 1px 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #bbb;
    box-shadow: 0 1px #fff;
}
.list h2 input {
    text-align: right;
    background: #f0f0f0;
    font-family: verdana, arial, helvetica, sans-serif;
    font-weight: normal;
    font-size: 16px;
    border: 0;
    margin: 0;
    padding: 0;
    width: 15em;
    box-shadow: none;
}
.list h2.setup {
    text-align: left;
}
.list hr {
    border: none;
    border-bottom: 1px solid #bbb;
    padding: 0;
    margin: 0 0 1px 0;
    box-shadow: 0 1px #fff;
}
.list tbody tr.closed {
    display: none;
}
.list tbody.hidden tr {
    display: none;
}
.list .droptarget td {
    border-top: 1px solid #000;
}
.list .droptarget td table td {
    border-top: 0;
}

input {
    color: #000;
    background: #fff;
    margin: 2px;
    padding: 4px 5px;
    border: 1px solid #cccccc;
    border-color: #cccccc;
    border-radius: 5px;
}
input:disabled {
    color: #888;
    background: #fff;
}
select {
    color: #000;
    margin: 0;
    border: 1px solid #cccccc;
    background: #fff;
    border-radius: 5px;
    cursor: pointer;
}
#title select {
    padding: 0 1px;
}
@-moz-document url-prefix() {
    select {
	padding: 4px 5px;
    }
}
select:disabled {
    color: #888;
    background: #fff;
}
span.select {
    display: inline-block;
    margin: 4px;
}
textarea {
    display: block;
    width: 99%;
    margin: 2px;
    border: 1px solid #888;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}
.graph {
    margin: 4px 4px 2px 2px;
}
.graph svg.graph {
    background: #fff;
    margin: 0;
    border: 1px solid #888;
    overflow: hidden;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}
.graph table td {
    width: 25%;
    padding: 0 4px 0 0;
    margin: 0;
}

.error {
    color: #f00;
}
.changed {
    color: #00f;
}
.disabled {
    color: #888;
}
.tablerror {
    color: #f00;
    text-align: center;
    font-size: large;
}

.cbox {
    display: inline-block;
    position: relative;
    margin: 2px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}

.cbox input {
    position: absolute;
    left: 2px;
    top: 2px;
    margin: 0;
    padding: 0 2px;
    z-index: 1;
    border: none;
    background: #fff;
    box-shadow: none;
    outline: none;
}
.cbox input:disabled {
    color: #888;
    background: #fff;
}
.cbox select {
    position: relative;
    width: 11em;
    margin: 0;
    padding: 2px;
    box-shadow: none;
    background: #fff;
}
.cbox select:disabled {
    color: #888;
    background: #fff;
}

.checkbox {
    white-space: nowrap;
}
.checkbox input {
    font-size: 11px;
    border: none;
    margin: 0 2px 0 2px;
    padding: 0;
    vertical-align: middle;
    box-shadow: none;
}
.checkbox input:focus {
    border: 1px solid #888;
}
.checkbox td {
    padding: 2px 1em 2px 0;
    margin: 0 2px 0 0;
}

.radio {
    font-size: 13px;
    margin: 2px 1em 2px 2px;
    vertical-align: bottom;
}
.radio input {
    margin: 0 2px 0 0;
    padding: 0;
    border: none;
    box-shadow: none;
}

.rovalue {
    padding: 4px 2px;
    margin: 0;
    white-space: pre-wrap;

    user-select: text;
    -webkit-user-select: text; /* Safari */
}
.roprevalue {
    font-family: monospace;
    padding: 4px 2px;
    margin: 0;

    user-select: text;
    -webkit-user-select: text; /* Safari */
}

.opt div {
    vertical-align: bottom;
}

.curtain {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #f0f0f0;
    padding: 0;
    margin: 0;
    vertical-align: bottom;
}

.defval {
    padding: 2px;
    color: gray;
}

.strikeout {
    text-decoration: line-through;
}

.skindrag {
    position: absolute;
    opacity: 0.6;
    z-index: 10;
}

.skindrag input {
    border: 0;
    color: #000;
    background: none;
}

a.not {
    font-size: 10px;
    width: 12px;
    margin: 2px;
    padding: 0;
    border: 1px solid #888;
    background: #fff;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}
a.not img {
    vertical-align: -1px;
    border: none;
}
a.not_disabled {
    font-size: 10px;
    width: 12px;
    margin: 2px;
    padding: 0;
    border: 1px solid #888;
    background: #eee;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}
a.not_disabled img {
    vertical-align: -1px;
    border: none;
}
a.not:hover {
    background: #eee;
}
a.not:active {
    background: #aaa;
    box-shadow: 1px 1px 2px #888 inset;
}

div.icon {
    float: left;
    width: 16px;
    height: 16px;
    overflow: hidden;
    margin: -1px 10px -3px 0;
    background: url('icons.png');
}

.disabled div.icon {
    filter: gray; /* IE */
    filter: grayscale(1);
}

form {
    margin: 0;
}

.terminal {
    overflow: hidden;
    overflow-y: scroll;
    white-space: pre;
    font-family: monospace;
    background: #ffffff;
    border: 1px solid #888;
    padding: 2px;
}

@keyframes blink {
    50% { box-shadow: none; }
}

.terminal .cursor {
    box-shadow: -2px 0 #000;
    animation: blink 1s step-end infinite;
}

.top-bottom {
  background: #f0f0f0;
  display: block;
  padding-top: 15px;
}
